body {
  font-size: 1.1em;
  margin: 5px 15px;
}

h1 {
  font-size: 1.6em;
}

h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 35px 0;
}

@media screen and (min-width: 830px) {
  body {
    background-color: rgb(132, 167, 221)
  }
}
